<div class="container custom-container">
        <h3 class="mb-3 text-center">Brani di: {{Disco}}</h3>
<table class="table table-bordered table-striped table-responsive-mdd table-hover">
  <thead>
      <tr>
          <th scope="col">Id</th>
          <th scope="col">Titolo</th>
          <th scope="col">Band</th>
          <th scope="col">Disco</th>
          <th scope="col">Anno</th>
          <th scope="col">Durata</th>
          <th colspan="2">Actions</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let brano of Brani">
        <td>{{brano.id}}</td>
        <td>{{brano.titolo}}</td>
        <td routerLink="/dischi-band/{{brano.Band_Id}}">{{brano.band}}</td>
        <td routerLink="/brani-disco/{{brano.Disco_Id}}">{{brano.disco}}</td>
        <td>{{brano.anno}}</td>
        <td>{{brano.durata}}</td>
        <td>
            <button class="btn btn-success btn-lg btn-block" routerLink="/update-element/{{brano.id}}">Edit</button>
        </td>
        <td>
                <button class="btn btn-success btn-lg btn-block" (click)="deleteBrano(brano.id)">Delete</button>
        </td>
      </tr>
  </tbody>
</table>
</div>