<div class="container custom-container">
    <h3 class="mb-3 text-center">Lista Dischi</h3>
    <table class="table table-bordered table-striped table-responsive-mdd table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Titolo</th>
                    <th scope="col">Anno</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let disco of Dischi" routerLink="/brani-disco/{{disco.id}}">
                    <td>{{disco.id}}</td>
                    <td>{{disco.Titolo}}</td>
                    <td>{{disco.anno}}</td>
                    <td>
                        <button class="btn btn-success btn-lg btn-block">Edit</button>
                    </td>
                    <td>
                        <button class="btn btn-success btn-lg btn-block">Delete</button>
                    </td>
                </tr>
                
            </tbody>
        </table>
  </div>