<div class="container custom-container">
  <div class="col-md-12">
  <h3 class="mb-3 text-center">Update: {{Disco.titolo}}</h3>
  <div class="form-group">
  <input type="text" [(ngModel)]="Disco.titolo" class="form-control" placeholder="Titolo">
  </div>
  <div class="form-group">
  <input type="text" [(ngModel)]="Disco.band" class="form-control" placeholder="Band">
  </div>
  <div class="form-group">
  <input type="text" [(ngModel)]="Disco.anno" class="form-control" placeholder="Anno">
  </div>
  <div class="form-group">
  <input type="text" [(ngModel)]="Disco.genere" class="form-control" placeholder="Durata">
  </div>
  <div class="form-group">
  <button class="btn btn-success btn-lg btn-block" (click)="updateDisco()">Update</button>
  </div>
  </div>
</div>
